#=======================================
# FURTHeR MDR data source configuration
#=======================================

datasource.url=jdbc:oracle:thin:@localhost:1521:xe
datasource.driver=oracle.jdbc.OracleDriver
datasource.user=fmdr_user
datasource.password=ENC(3i9/a5TZdyANEKczEZznW7ET4PXz2ukD)
hibernate.dialect=org.hibernate.dialect.Oracle10gDialect
hibernate.default_schema=fmdr

c3p0.preferredTestQuery=select 1 from dual
